<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn8GDG5jVJNyKY1FM5dM8K8C1GuNG1JU0</string>
	<key>GCM_SENDER_ID</key>
	<string>576007369225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coconect.alarmtogether</string>
	<key>PROJECT_ID</key>
	<string>alarm-together</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-together.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576007369225:ios:1325a18c17ec16498ebed8</string>
</dict>
</plist>